<!DOCTYPE html>
<html lang="en">
<head>
  <link href='cat.css' type='text/css' rel='stylesheet'/>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CATS</title>
</head>
<body>
  <h1>My name is <%= ["Amigo", "Oscar", "Viking"].sample %>!</h1>
  <img src="http://bit.ly/1eze8aE" height="500px" style="border: 5px dashed red;"/>
</body>
</html>