<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/play.css" type="text/css" rel="stylesheet">
    <title>Document</title>
  </head>
  <body>
    <h1><%= $game.player_1.name %></h1>
    <h2>Hit Points</h2>
    <div id="player-1-hit-points">
      <%= $game.player_1.hit_points %>
    </div>
    <a class="action-button" href="/attack" id="basic-attack-1">Basic Attack</a>
    <h1><%= $game.player_2.name %></h1>
    <h2>Hit Points</h2>
    <div id="player-2-hit-points">
      <%= $game.player_2.hit_points %>
    </div>
    <a class="action-button" href="/attack" id="basic-attack-2">Basic Attack</a>
  </body>
</html>

