<!DOCTYPE html>
<html lang="en">
<head>
  <link href='cat.css' type='text/css' rel='stylesheet'/>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CATS</title>
</head>
<body>
  <% if @name == "" && @age %>
    <h1>My name is cat! I am <%= @age %> years old..</h1>
  <% elsif @name && @age == "" %>
    <h1>My name is <%= @name %>! I am a couple of years old..</h1>
  <% else %>
    <h1>My name is <%= @name %>! I am <%= @age %> years old..</h1>
  <% end %>

  <img src="http://bit.ly/1eze8aE" id="catThingy"/>
</body>
</html>