<form action="/named-cat" method="POST">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name">
    <input type="text" placeholder="age" name="age">
  </div>
  <div>
    <input type="submit" id="submit_button" value="Submit">
  </div>
</form>